div.header-style {
    margin: 20px;
    padding: 10px;
    text-align: center; 
    font-size: 20px; 
    background-color: antiquewhite; 
    box-shadow: -5px 5px 0px grey;
    border-radius: 10px;
}

button#blue {
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    /* align-items: center;
    align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: blue;
    color: yellow;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
}

button#aqua {
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    /* align-items: center;
    align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: aqua;
    color: grey;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
}

button#green {
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    /* align-items: center;
    align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: green;
    color: black;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
}

button#purple {
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    /* align-items: center;
    align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: purple;
    color: yellow;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
}

div.buttons {
    /* align-items: center; */
    display: flex;
    justify-content: center;
    
}